.url-cell {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.links-table {
  width: 95%;
  margin: 40px auto;
  border-collapse: separate;
  border-spacing: 0 10px;
  font-family: "Inter", sans-serif;
}

thead th {
  background: #0f172a;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

tbody tr {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

tbody td {
  padding: 18px 15px;
  font-size: 17px;
  color: #1e293b;
}

tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.actions-cell {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
}

.actions-cell button {
  background: black;
  border: none;
  padding: 8px;
  margin-right: 6px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.actions-cell button img {
  width: 20px;
  height: 20px;
}

@media (max-width: 900px) {
  thead th {
    font-size: 16px;
    padding: 12px;
  }

  tbody td {
    font-size: 15px;
    padding: 14px 12px;
  }

  .url-cell {
    max-width: 250px;
  }

    .actions-cell button img {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 600px) {
  .links-table {
    min-width: 750px;
  }

  .url-cell {
    max-width: 200px;
  }

  .actions-cell button img {
    width: 16px;
    height: 16px;
  }
}
