*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5rem auto;
  min-height: 320px;
}
.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #b2d4f6;
  border-top: 5px solid #1976d2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 40px auto 0 auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}